{% extends "base.html" %}
{% load static %}
{% block maincontent %}
<div class="col-sm-10 ">
  <h3 class="text-white mt-5">About Page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis
    dolor nam placeat. Unde eaque soluta doloribus ea explicabo? Rerum
    consequuntur esse at incidunt delectus dolorem error iste doloremque quo
    omnis consectetur impedit aut sapiente placeat alias cumque, amet eum
    maiores autem obcaecati, reiciendis hic neque culpa? Aliquam, neque esse.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, alias
    porro? Porro corporis tempora ad assumenda reiciendis quo, dicta sapiente
    adipisci beatae eaque vero facere, hic ducimus, quisquam expedita natus
    cupiditate nemo odit quos distinctio error debitis dolor neque perferendis.
    Dolorum at iusto debitis repellendus reprehenderit saepe esse ab voluptate?
  </p>
</div>
{% endblock maincontent %}